.profile {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cl-profile-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.profile h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-table {
  width: 100%;
}

.profile-table .td1 {
  font-weight: bold;
  width: 100px;
}

.profile-table .td2 input,
.profile-table .td2 .check {
  
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-table .td2 .check {
  display: flex;
  justify-content: space-between;
}

.save-button {
  width: auto;
  padding: 10px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.save-button:hover {
  background-color: #ff7146;
}


.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}