<div #scrollToTop></div>





<div class="form-container">
  <h1>Nhập hàng</h1>
  <form id="form" class="input-form">
    <div class="input-group">
      <label for="product_name">Tên hàng hóa</label>
      <input [(ngModel)]="data.TenHang" type="text" id="product_name" name="product_name" required>
    </div>
    <div class="input-group">
      <label for="quantity">Số lượng</label>
      <input (keyup)="sumThanhTien()" [(ngModel)]="data.SoLuongHH" type="number" id="quantity" name="quantity" required>
    </div>
    <div class="input-group">
      <label for="unit_price">Đơn giá</label>
      <input (keyup)="sumThanhTien()" [(ngModel)]="data.DonGia" type="number" id="unit_price" name="unit_price" required>
    </div>
   
    <div class="input-group">
      <label for="thanh_tien">Thành tiền</label>
      <input [(ngModel)]="data.ThanhTien" type="text" id="thanh_tien" name="thanh_tien" readonly>
    </div>
    <div class="input-group">
      <input id="img" type="file" (change)="onFileSelected($event)" #fileInput>
      <br>
      <label *ngIf="seeImg">
        Xem trước
        <br>
        <img [src]="formData.imageData" alt="" style="width: 50px; height: 50px;">
      </label>
    </div>
    <button *ngIf="!sua" (click)="themKho()">Nhập hàng</button>
    <br>
    <button *ngIf="sua" (click)="suaKho()">Sửa hàng</button>
  </form>
</div>

  <div class="form-container"> 
    <input type="text" [(ngModel)]="key" placeholder="Tìm kiếm theo tên hàng" (keyup)="searchByTenHang()">
    <button (click)="cancelSearch()">Hủy</button>
  </div>
 
 
  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>Tên hàng hóa</th>
          <th>ảnh</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
          <th>Sửa</th>
          <th>Xóa</th>
        </tr>
      </thead>
      
      <tbody>
      
        <tr *ngFor="let item of getDataUser ,let i=index">
          <td>{{item.name}}</td>
          <td><img [src]="item.imageData" alt="Lỗi" style="width: 200px ;height: 200px;" /> </td>
          <td >
            {{item.quantity}} <br><br>
          </td>
          <td>{{item.price |number:'1.0-0'}}đ  </td>

          <td>{{item.quantity*item.price|number:'1.0-0'}}đ</td>
          <td><button (click)="btnSua(i)" class="edit-btn">Sửa</button></td>
          <td><button (click)="xoaKho(item.id)">Xóa</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>



  